.teste {
  background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-8));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}